<%- include('../partials/header') %>

<% if (typeof banner != 'undefined' && banner.length != 0) {%>
<section class="banner" style="background-image: url('images/<%= banner.background%>')"><span><%= banner.title %></span></section>
<h2><%= banner.title %> disponíveis para adoção</h2>
<% } %>

<div class="container list">
    <% for (let i=0; i < list.length; i++) { %>
        <div class="item">
            <img src="images/<%= list[i].image %>" class="item--image" />
            <div class="item--name"><%= list[i].name %></div>
            <div class="item--color">Cor: <%= list[i].color %></div>
            <div class="item--genre">Gênero: <%= list[i].sex %></div>
        </div>
        <% } %>
</div>



<% if (list.length <= 0) { %>
<div class="container no-list">
    <h2>Não encontramos animais disponíveis com esta descrição!</h2>
</div>
<% } %>

<%- include('../partials/footer.ejs') %>